<div class="container">
	<div class="row" style="display: flex; justify-content: space-between; align-items: center; padding: 0 2vw;">
		<div class="logo-container button">
			<img class="logo img-responsive" src="/images/LogoTransperent.png">
		</div>

		<div class="reach-out button">
			<a href="/contact">Reach Out</a>
		</div>

	</div>
	<div class="row">
		<img class="hamburger" onclick="displayMenu()" src="/images/hamburger.svg">

		<script>
			function displayMenu() {
				const elem = document.getElementsByClassName('nav-cont-small')[0];
				elem.style.display = elem.style.display === 'block' ? 'none' : 'block';
			}

			window.onresize = function () {
				const elem = document.getElementsByClassName('nav-cont-small')[0];
				elem.style.display = 'none';
			}
		</script>

		<div class="nav-cont">
			<div onclick="scrollToAnchor('timeline')">Timeline</div>
			<div onclick="scrollToAnchor('skills')">Skills</div>
			<div onclick="scrollToAnchor('portfolio')">Porfolio</div>
			<div href="/blog">Blog</div>
		</div>

		<div class="nav-cont-small">
			<div onclick="scrollToAnchor('timeline')">Timeline</div>
			<div onclick="scrollToAnchor('skills')">Skills</div>
			<div onclick="scrollToAnchor('portfolio')">Porfolio</div>
			<div href="/blog">Blog</div>
		</div>

	</div>
	<br><br>
	<div class="row">
		<h1 class="header">
			Full Stack Developer, Digital Strategist, Software Nerd
		</h1>
	</div>
	<div class="row">
		<h3 class="subtitle">I design and develop websites, apps and digital solutions.</h3>
	</div><br><br>
	<div class="row ta-center">
		<p class="body-text">Hi I'm Alex and welcome to my website. I'm a student and aspiring software developer. This
			website is aimed to
			let you know a little bit about me, show off my portfolio and let me blog my thoughts to the world. Please
			enjoy!</p>
	</div>

</div>

<div class="section bg-secondary mar-t-5 ta-center" onresize="onResize()">
	<h2 class="section-heading" id="timeline">Timeline</h2>
	<div class="orange-line height-5 width-40"></div>

	<section class="cd-timeline js-cd-timeline">
		<div class="cd-timeline__container">
			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--green js-cd-img">
					<img src="/images/timeline/cd-icon-school.png" alt="School">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h2>Graduated From High School</h2>
					<p>I gradauted from Newington College in Stanmore, NSW. I completed my Higher School Certificate and
						particular enjoyed my Infomration Technology and Process, Software Design and Development and
						Greek classes. This (well the first two) led me to being interested in studying something IT
						related at university.</p>
					<span class="cd-timeline__date">November 2016</span>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--yellow js-cd-img">
					<img src="/images/timeline/cd-icon-computer.png" alt="Computer">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h2>Granted a Scholarship to the University of Technology, Sydney</h2>
					<p>I was granted a scholarship to UTS in the Bachelor of IT Co-Op program. This was a unique course
						as companies would sponsor places for ~30 students, and in return we would complete internships
						at those sponsors. The real world experience I would gather really motivated me to apply for
						this course.</p>
					<span class="cd-timeline__date">December 2016</span>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--red js-cd-img">
					<img src="/images/timeline/cd-icon-code.png" alt="Code">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h2>Began Studying a Bachelor of Information Technology at UTS</h2>
					<p>In February 2017, I arrived fresh faced for my first day of uni. I had no idea what to expect and
						was super nervous, however once I started attending classes it really just felt like school
						again.</p>
					<span class="cd-timeline__date">February 2017</span>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--blue js-cd-img">
					<img src="/images/timeline/cd-icon-work.png" alt="Work">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h2>Started Internship at Nielsen TAM</h2>
					<p>In July 2017, I was really thrown into the deep end. With just 1 semeter of uni under my belt, I
						joined the workplace for the first time. I was starting at a company called Nielsen TAM, and
						began in the IT Infrastructure team. In this team, I was involved in management of on-premise
						infrastructure (mainly VMWare) and maintence of key business systems. I then moved into the
						development team where I would start work on a few long-term projects.</p>
					<span class="cd-timeline__date">July 2017</span>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--red js-cd-img">
					<img src="/images/timeline/cd-icon-code.png" alt="Code">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h2>Finished My Intership and Began at Nielsen as an Employee</h2>
					<p>After my internship finished, I was kept on at Nielsen in a development/architecture role, where
						I would help design, develop and implement systems. Here I was exposed to a plethora of
						programming languages, databases, open-source frameworks, cloud computing services (like AWS). I
						really enjoyed my time at Nielsen and felt I learned an absolute tonne. This experience really
						showed me the value of industry experience whilst studying.
					</p>
					<span class="cd-timeline__date">December 2017</span>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--orange js-cd-img">
					<img src="/images/timeline/cd-icon-government.png" alt="Government">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h2>Started My Internship at the Australian Securities and Investments Commission</h2>
					<p>In January 2019, I began my second placement at the Australian Securities and Investments
						Commision (ASIC), who are Australia's corporate regulator. At ASIC I was in DevOps role
						reponsible for the CI/CD pipelines in the company, as well as PaaS management for AWS and Azure.
					</p>
					<span class="cd-timeline__date">January 2019</span>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->
		</div>
	</section> <!-- cd-timeline -->


</div>

<div class="section mar-t-5 ta-center">
	<h2 class="section-heading" id="skills">Skills</h2>
	<div class="orange-line height-5 width-40"></div>

	<br>
	<div class="skills-cont">
		<div class="skills-table">
			<div class="skills-table-body">
				<div class="skills-table-data-col">
					<img class="skill-icon" src="/images/001-responsive.svg">

					<h3 class="skill-title">Web Development</h3>

					<span class="skill-content">
						<h4 class="skill-subheading">Languages / Frameworks</h4>

						<span class="skill-list">JavaScript, TypeScript, Angular, Node.JS, Express.JS, Python, Flask,
							Keystone.JS (CMS), HTML,
							CSS, Less, Sass, Handlebars,
							Pug</span> <br><br>
						<div class="orange-line height-3"></div>
						<br>
						I am proficient through full stack web development, with the ability to create interactive
						frontends and efficient backends. I am a huge fan of JavaScript/TypeScript stacks involving
						frontend frameworks such as Angular, React or Vue and an Express.JS backend. Whether it is a
						simple landing page or a full-fledged web app, I love designing and developing these solutions.
					</span>
				</div>
				<div class="skills-table-data-col">
					<img class="skill-icon" src="/images/002-web-analytics.svg">
					<h3 class="skill-title">Data</h3>

					<span class="skill-content">
						<h4 class="skill-subheading">Languages / Tools</h4>

						<span class="skill-list">Python, Pandas, NumPy, AI, Tensorflow (Machine Learning), Keras, SQL
							(PostgreSQL mainly!), MongoDB, ElasticSearch, BI (PowerBI, Tableau)</span> <br><br>
						<div class="orange-line height-3"></div>
						<br>
						I am a big fan of dealing with big data. I am skilled with Python and many Python frameworks
						such as Pandas and Tensorflow. Using these I am able to analyse big data sets, crunch numbers,
						display data in an intiutive manner, peform ETL functions, and effeciently store data using a
						varierty of SQL and NoSQL database engines. Recently, I have gotten very much into Machine
						Learning, using Tensorflow, and I love creating and training models to solve complex real-world
						issues with data and AI.
					</span>
				</div>
				<div class="skills-table-data-col">
					<img class="skill-icon" src="/images/003-digital-campaign.svg">
					<h3 class="skill-title">Digital Strategy</h3>

					<span class="skill-content">
						<h4 class="skill-subheading">Experience</h4>

						<span class="skill-list">I have experience desiging, implementing and building digital
							solutions. I am passionite about digital strategy and how digital solutions can bring value
							to an organisation.</span> <br><br>
						<div class="orange-line height-3"></div>
						<br>
						I was exposed to some digital strategy during my time at Nielsen TAM. This involved working on
						projects which brought innovative digital solutions to the market. It was fascinating being on
						the cutting edge and using the latest and greatest tech to develop and deliver a solution. I
						also had the chance to pitch a digital transformation to an internal process, that allowed it to
						be automated in the form of a web app. I led a project team of 3 working on this and really
						loved showing how modern techinal solutions can make great business sense.
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section mar-t-5 ta-center">
	<h2 class="section-heading" id="portfolio">Portfolio - Coming Soon!</h2>
	<div class="orange-line height-5 width-40"></div><br>
	<h4 class="skill-subheading">This section is coming soon. In the meantime, check out this website as my temporary
		portfolio.</h4>

</div>

<div class="section mar-t-5 ta-center">
	<h2 class="section-heading" id="portfolio">Contact Me</h2>
	<div class="orange-line height-5 width-40"></div><br><br>
	<a href="/contact/" class="button reach-out2">
		Reach Out!
	</a>
</div>

<script>
	function scrollToAnchor(aid) {
		$('html, body').animate({ scrollTop: $('#' + aid).position().top }, 'slow');
	}
</script>